@charset "UTF-8";
body{
text-align: center;
}
h2{
	background-color:gray;
	color : white;
}
 div{
 color : red;
 text-align: right;
 }
 .div1{
 color:blue;
 text-align : left;
 }

 .box1 {
  text-align:right;
    padding: 0.2em 0.6em;
    margin: auto;
    font-weight: bold;
    border: solid 2px #000000;
    width:300px;


}
.box1 p {
    margin: auto;
    padding: auto;
    text-align: center;
    color:black;

}
